{% extends 'share/detail.html' %}
{% block detail %}

<h2>{{share.name}}</h2>
<em id='description'></em>
<script>
  document.getElementById('description').innerHTML="{{shareDescription}}";
</script>
<em>วันที่เริ่ม {{share.date_run}}</em>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">name</th>
        <th scope="col">date</th>
        <th scope="col">payment</th>
        <!--th scope="col">pay_interest</th-->
        <th scope="col">capital</th>
        <!--th scope="col">interest</th-->
        <th scope="col">recieve</th>
        <th scope="col">pay_totle</th>
        <th scope="col">balance</th>
      </tr>
    </thead>
    <tbody>        
{%  for customer in share.share_groups_customers_set.all%}
<tr>
    <th scope="row">{{customer.receive_queue}}</th>
    <td>{{customer.customer}}</td>
    <td id="{{customer.receive_queue}}"></td>
    <script>
      document.getElementById("{{customer.receive_queue}}").innerHTML = receiveDateText(setDateToSameNumber(receiveDate));
      
    </script>
    <!--แสดงส่วนของท้าว-->
    {% if customer.receive_queue == 1 %}
    <td>0</td>
    <!--td>0</td-->
    <td>{{share.capital}}</td>
    <!--td>0</td-->
    <td>0</td>
    <td>0</td>
    <td>{{share.capital}}</td>
    <!--แสดงส่วนของลูกแชร์-->
    {% else %}
    <td id="fix_rate{{customer.receive_queue}}">{{customer.fix_rate}}</td>
    <!--td id="pay_interest{{customer.receive_queue}}"></td>
      <-ลูกแชร์จ่ายดอกหลังจากรับ->
      <script>
        //if (interestDate < currentDate) {
          document.getElementById("pay_interest{{customer.receive_queue}}").innerHTML = {{ share.interest }};
          
        //}
        
      </script -->
    <td id="capital{{customer.receive_queue}}"></td>
      <!--ลูกแชร์ถึงวันรับให้แสดงเงินต้น-->
      <script>
        //if (receiveDate < currentDate) {
          document.getElementById("capital{{customer.receive_queue}}").innerHTML = {{ share.capital }};
          
        //}
        
      </script>
    <!--td id="interest{{customer.receive_queue}}"></td>
      <script>
        //if(receiveDate < currentDate){
          document.getElementById('interest{{customer.receive_queue}}').innerHTML = interest;
          
        //}
      </script-->
    <td id="recieve{{customer.receive_queue}}"></td>
      <script>
        recieve = {{share.capital}} - {{customer.fix_rate}};
        document.getElementById("recieve{{customer.receive_queue}}").innerHTML = recieve;          
      </script>
    <td id="pay_totle{{customer.receive_queue}}"></td>
      <script>
        pay_totle = ({{customer.fix_rate}} * {{share.quantity}});
        document.getElementById("pay_totle{{customer.receive_queue}}").innerHTML = pay_totle;
      </script>
    <td id="balance{{customer.receive_queue}}"></td>
      <script>
        balance = recieve - pay_totle;
        document.getElementById("balance{{customer.receive_queue}}").innerHTML = balance;
        bal += balance;
        //console.log(bal);
      </script>
    <script>
      //interest = interest + {{ share.interest }};
    </script>
    {% endif %}
  </tr>
  
  <script>
    {% if share.build_share_pay_date %}
      //dataToSaveInSharePayDate, {{customer.share_group.quantity}}
      objToPushSharePayDate = {group:'{{customer.share_group.id}}', queue:"{{customer.receive_queue}}", date:receiveDateText(receiveDate)};
      sharePayDate.push(objToPushSharePayDate);
    {% endif %}    
    //noInterest = noInterest + 1;
    //interestDate.setDate(interestDate.getDate()+7);
    receiveDate.setDate(receiveDate.getDate()+{{share.term}});
  </script>
  {% endfor %}


</tbody>
</table>

<!--p>{{customer.receive_queue}} , {{customer.customer}} , <span id="reciveDate{{customer.receive_queue}}"></span></p>
<script>
    document.getElementById("reciveDate{{customer.receive_queue}}").innerHTML=receiveDateText(setDateToSameNumber(receiveDate));
    reciveDate.setDate(reciveDate.getDate() + 10);   
</script-->
{% if share.build_share_pay_date %}
<script>
var myJson = JSON.stringify(sharePayDate);     
</script>

<div id="formSharePayDate">
  <form action="{% url 'share:sharePayDate' %}" method="post">
    {% csrf_token %}
    <input type='hidden' name='myJson' id='sharePayDate' value="myJson">
    <button type="submit" class='btn-info'>บันทึกวันที่ส่งแชร์ลงฐานข้อมูล</button>
  </form>
</div>
{% endif %}
<script>
  $(document).ready(function(){
    $('#sharePayDate').val(myJson);
  });
</script>




{% endblock %}